// Colors

$color-primary: #2980b9;
$color-primary-dark: #20638f;
$color-primary-light: #409ad5;

$color-secondary: #0b61e4;
$color-secondary-dark: #094cb3;
$color-secondary-light: #2d7cf5;

$color-white: #fff;
$color-black: #000;
$color-gray-light: rgb(161, 161, 161);
$color-gray-light-2: rgb(204, 204, 204);
$color-gray-dark: rgb(94, 94, 94);
$color-gray-dark-2: rgb(88, 88, 88);


$color-footer-dark: #333;