.footer {
    color: $color-white;
    background-color: $color-footer-dark;
}



.footer-container {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 1;
    // border: thick solid green;

    
    
}

.footer-column {
    margin: 0 auto;
    width: 33.333333%;
}

.form {
    line-height: 2.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding-bottom: 1rem;

    .section-heading {
        font-size: 2rem;
        margin-bottom: 0rem;
        padding-top: 3rem;
        
        color: $color-white;
    
        &::after {
            background-color: $color-tertiary;
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }

    .btn {
        font-size: 1.4rem;
        padding: 1.0rem 1.4rem;
        margin-bottom: 1rem;
        color: #fff;
        cursor: pointer;
        
        
    
        &-primary {
            background-color: $color-primary;
            border: 1px solid $color-primary;
    
            &:hover {
                background-color: transparent;
            }
        }

    }

    input,
    textarea {
        width: 300px;
        padding: 0.2rem;
        border-radius: 4px;
        border: none;
        border-bottom: 3px solid transparent;
        transition: all 0.3s;

        &:focus {
            outline: none;
            border-bottom: 3px solid $color-tertiary;
        }
    }
}

.social-contact {
    font-size: 1.4rem;
    line-height: 3;
    border-bottom-right-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ul {
        list-style: none;

        li {
            display: inline-block;
            &:not(:last-child){
                margin-right: 1.5rem;
            }

            a {
                color: $color-gray-light;
                transition: all 0.3s;

                &:hover {
                    color: $color-tertiary;
                }
            }
        }
    }

    .section-heading {
        font-size: 2rem;
        margin-bottom: 0rem;
        
        color: $color-white;
    
        &::after {
            background-color: $color-tertiary;
            margin-top: 0;
            margin-bottom: 2rem;
        }
    }

    .social-icon {
        font-size: 2.6rem;
    }

    .footer-paragraph {
        font-size: 1.4rem;
        line-height: 1.8;
        width: 400px;
        color: $color-gray-light;
        padding-bottom: 2rem;
        border-bottom: 1px solid $color-gray-dark-2;
    }

}

.footer-logo {
    height: 42.5rem;
    text-align: center;
    background-color: $color-tertiary-dark;

    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        filter: saturate(3);
        transform: scale(1.1);
        cursor: pointer;
    }

}

.sub-footer {
    background-color: $color-tertiary-dark;
    height: 5rem;
    font-size: 1.3rem;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}