
.introLoad {
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgb(100, 193, 255), rgb(42, 86, 206));
    height: 100vh;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: fadeOut 2.5s ease 1s forwards;

    .square {
        width: 50px;
        height: 50px;
        background-color: #000;
        z-index: 1001;
        margin: 1rem 0;

    }

    .row-1,
    .row-2 {
        margin: 0 .5rem;
        // animation: name duration timing-function delay iteration-count direction fill-mode;
    }

    .square-1 {animation: moveRight .5s ease .5s forwards;}
    .square-3 {animation: moveDown .5s ease 1s forwards;}

    .square-4 {animation: moveLeft .5s ease 1.5s forwards;}
    .square-2 {animation: moveUp .5s ease 2s forwards;}

}