
@media (max-width: 1400px) {

    .services {

        &-container {
            width: 30%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        & .paragraph {
            margin-bottom: 2rem;
        }
    }

    
}


@media (max-width: 1280px) {
    .currency-container {

        top: -10px;
    
        div img {
            width: 140px;
            
        }
    
    }
}


// IPad Pro
@media (max-width: 1024px) {

    // Responsive Navbar Queries
    .main-nav {
        flex-direction: column;
        padding: 1rem;
        
    }

    .main-nav .toggle-button {
        visibility: visible;
    }

    .main-nav-list {
        display: none;
        padding-top: 2rem;
        padding-bottom: 0.5rem;
        
    }

    .main-nav-list.active {
        display: flex;
        
    }



    .hero,
    .testimonials,
    .background-image {
        background-attachment: scroll !important;
    }


    .security-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .services-box {
            width: 90%;
            text-align: center;
        }
        

        img {
            margin-bottom: 6rem;
        }
    }

    .security-paragraph {
        text-align: left;
        width: 80%;
        position: relative;
        left: 50%;
    }

    .icon {left: 50%;}

    .security-column {
        width: 100%;
    }

    .security-paragraph {
        transform: translate(-50%, 0%);
    }


    .social-contact {
        .footer-paragraph {
            font-size: 1.4rem;
            width: 300px;
            text-align: center;
        }
    }

}


// Regular IPad
@media (max-width: 768px) {

    .hero-heading {
        font-size: 5.5rem;
    }

    .services .services-box {
        width: 90%;
    }

    .testimonials .testimonial-paragraph {
        font-size: 2rem;
        width: 80%;
    }

    .security-paragraph {
        text-align: center;
        width: 100%;
        position: relative;
        left: 50%;
    }

    .currency-container {

    
        div img {
            width: 180px;
            
        }
    
    }
    


    .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-column {
        margin: 0 auto;
        width: 100%;
        
        &:not(:last-child){
            margin-bottom: 4rem;
        }
    }

    .social-contact .footer-paragraph {
        width: 60%;
    }

    .footer-logo {
        height: 8rem;
    }

}



// Mobile
@media (max-width: 500px) {

    .hero-heading {
        font-size: 2.5rem;
    }

    .main-nav {
        &-item {
            
            &:not(:last-child) {
                padding-right: 0;
                margin-right: 0rem;
            }
        }
    }

    .main-nav-list {
        flex-direction: column;
        text-align: left;
        
        &:not(:last-child) {
            margin-right: 0;
        }
    }

    .testimonials .testimonial-paragraph {
        font-size: 1.4rem;
        width: 80%;
    }

    .currency-container {
        position: relative;
        top: -30px;

        & > :not(:last-child) {
            margin-right: 2rem !important;
        }
    
        div img {
            width: 100px;
            
        }
    
    }


    .security-paragraph {
        text-align: center;
        width: 100%;

    }


}