.services {
    padding: 5rem 0;
    background-color: #fff;

    &-container {
        margin: 0 auto;
        width: 100%;
        text-align: center;

        display: flex;
        justify-content: center;

    }

    &-box {
        width: 25%;
        margin-bottom: 4rem;
        // margin: 0 auto;

        & .image-box {
            position: relative;
            img {
                width: 10rem;
                filter: invert(41%) sepia(95%) saturate(327%) hue-rotate(159deg) brightness(92%) contrast(108%);
                margin-bottom: 1.5rem;
                transition: all 0.8s ease-in-out;     
            }
        }

        &:hover img {
            transform: rotate(360deg);
            filter: invert(16%) sepia(3%) saturate(0%) hue-rotate(135deg) brightness(92%) contrast(92%);
        }

        & .paragraph {
            margin-top: 1rem;
            font-size: 1.4rem;
            color: $color-gray-light;
        }
    }

    .icon {
        font-size: 4rem;
        z-index: 10;
        color: $color-white;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        top: 43.5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}