.support {
    position: relative;

    & .section-heading {
        font-size: 3.5rem;
        color: $color-white;

        &::after {
            background-color: $color-white;
        }
    }
}

.background-image {
    height: 50vh;
    background-image: linear-gradient(to bottom, 
        rgba($color-tertiary, 0.9), 
        rgba($color-black, 0.75)), 
        url('../../dist/images/background-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.currency-container {

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 200px;
        filter: saturate(0);
        margin-right: 5rem;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            filter: saturate(1.5);
            transform: scale(1.1);
        }

    }

}