.btn {
    font-size: 1.7rem;
    font-weight: 600;
    padding: 1.5rem 2rem;
    margin: 1.5rem;
    transition: all 0.25s;
    
    

    &-primary {
        background-color: $color-primary;
        border: 2px solid $color-primary;

        &:hover {
            background-color: transparent;
        }
    }

    &-secondary {
        background-color: transparent;
        border: 2px solid $color-primary;

        &:hover {
            background-color: $color-primary;
            border: 2px solid $color-primary;
        }
    }
}