
// Global Reset
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 10px = 1rem
    font-family: 'Open Sans', Arial, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
//     padding: 4rem;
//     background-image: linear-gradient(to right,
//                                         rgba($color-primary-dark, 0.9),
//                                         rgba($color-tertiary-dark, 0.9));
}

a {
    text-decoration: none;
    color: #fff;
}