
// Global Reset
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 10px = 1rem
    font-family: 'Open Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}